
p{
    color: white;
    
    
    
}
ol{
    color: white;
    


}
body{
    background: #000;
    

}
img{
   height: 400px;
   width: 515px;
}
a{
    color: white;
}
#p7{
    color: rgb(0, 255, 68);
}
